@model IEnumerable<nnhNetCoreMVCLAB5.Models.nnhAccount>

@{
    ViewData["Title"] = "nnhIndex";
    Layout = "~/Views/Shared/_nnhLayout.cshtml";
}

<h1>Bảng danh sách thông tin sinh viên </h1>

<p>
    <a asp-action="nnhCreate">Thêm Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NnhId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhAvatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NnhFacebook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NnhId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhAvatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NnhFacebook)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
