@model List<nnh_lesson02.Models.Account>
@{
    ViewData["Title"] = "Danh sách tài khoản";
}

<h2>Danh sách tài khoản</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Địa chỉ</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model)
        {
            <tr>
                <td><img src="@acc.avatar" width="60" /></td>
                <td>@acc.Name</td>
                <td>@acc.Email</td>
                <td>@acc.Phone</td>
                <td>@acc.Address</td>
                <td>
                    <a asp-controller="Account" asp-action="Profile" class="btn btn-sm btn-info">Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>
